@media screen and (max-width: 585px) {
    .traverseLogo {
        display: none;
    }

    .traverseText {
        display: none;
    }

    div.rightContainer {
        display: none;
    }

    div.search-bar-container {
        flex: 1;
    }
}

@media screen and (max-width: 600px) {
    .traverseLogo {
        padding-bottom: 13px;
    }

    .traverseText {
        display: none;
    }

    .search-bar-container {
        flex: 0.5;
    }
}

@media screen and (max-width: 1440px) {
    .traverseLogo {
        height: 30px;
        padding-top: 13px;
    }

    .traverseText {
        padding-left: 10px;
        font-weight: bold;
        font-size: 17px;
    }

    .search-bar-container {
        flex: 0.5;
    }
}

.rightContainer {
    justify-content: right;
    display: flex;
}

.lendItemsButton {
    background-color: white;
    border-radius: 10px;
    color: #005DFF;
    font-family: Poppins;
}

.search-bar-container {
    justify-content: center;
    margin: auto;
    flex: 0.5;
}