.search-bar-container {
    border-radius: 100px;
    box-shadow: 1px 2px 9px #a1a19f;
    flex-wrap: nowrap;
    text-align: left;
}

.search-bar-icon {
    left: 10px;
    position: relative;
    top: 3px;
    color: #005dff;
    font-size: 18px;
}

input.search-bar-input:focus {
    outline: none;
}

.search-bar-input {
    border-width: 0;
    border-color: white;
    padding: 8px 8px 8px 18px;
    background-color: transparent;
    width: 80%;
}