.searchBarContainer {
    border-radius: 100px;
    box-shadow: 1px 2px 9px #a1a19f;
    flex-wrap: nowrap;
    text-align: left;
}

.searchBarIcon {
    left: 10px;
    position: relative;
    top: 3px;
    color: #005DFF;
}

input.searchBarInput:focus {
    outline: none;
}

.searchBarInput {
    border-width: 0;
    border-color: white;
    padding: 8px 8px 8px 18px;
    background-color: transparent;
}