.app {
    text-align: center;
    margin-top: 75px;
}

.rentals-container {
    display: inline-flex;
    margin: 20px;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 425px) {
    .mobile-only {
        display: none;
    }
}


