.App {
    text-align: center;
    margin-top: 75px;
}

.rentalsContainer {
    display: inline-flex;
    margin: 20px;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

.mobileOnly {
    display: none;
}

@media only screen and (max-width: 425px) {
    .mobileOnly {
        display: none;
    }
}


